In [2]:
import pandas as pd
import numpy as np 
data = pd.read_csv(r"C:\Users\A\Desktop\algo_project\banknifty_15min_2025.csv", index_col="timestamp")
data.head()

,open,high,low,close,volume,open_interest
timestamp,,,,,,
2022-01-03 09:15:00,35585.20,35703.00,35585.20,35694.45,0,0
2022-01-03 09:20:00,35689.05,35696.85,35549.80,35560.45,0,0
2022-01-03 09:25:00,35558.35,35624.65,35554.80,35600.85,0,0
2022-01-03 09:30:00,35605.70,35624.85,35530.05,35612.15,0,0
2022-01-03 09:35:00,35609.60,35675.35,35603.80,35664.50,0,0

In [3]:
data = data[["open", "high", "low","close"]]

In [4]:
def create_ma(df,column ="close", candles = 8):
  df[f"ma_{candles}"] = df[column].rolling(window=candles).mean()
  return df[f"ma_{candles}"]

In [5]:
create_ma(data, candles=21)

timestamp
2022-01-03 09:15:00             NaN
2022-01-03 09:20:00             NaN
2022-01-03 09:25:00             NaN
2022-01-03 09:30:00             NaN
2022-01-03 09:35:00             NaN
                           ...
2025-11-28 15:05:00    59773.221429
2025-11-28 15:10:00    59770.826190
2025-11-28 15:15:00    59767.452381
2025-11-28 15:20:00    59765.230952
2025-11-28 15:25:00    59762.623810
Name: ma_21, Length: 72554, dtype: float64

In [6]:
data

                         open      high       low     close         ma_21
timestamp
2022-01-03 09:15:00  35585.20  35703.00  35585.20  35694.45           NaN
2022-01-03 09:20:00  35689.05  35696.85  35549.80  35560.45           NaN
2022-01-03 09:25:00  35558.35  35624.65  35554.80  35600.85           NaN
2022-01-03 09:30:00  35605.70  35624.85  35530.05  35612.15           NaN
2022-01-03 09:35:00  35609.60  35675.35  35603.80  35664.50           NaN
...                       ...       ...       ...       ...           ...
2025-11-28 15:05:00  59774.90  59797.75  59749.70  59765.15  59773.221429
2025-11-28 15:10:00  59762.55  59768.70  59739.25  59739.60  59770.826190
2025-11-28 15:15:00  59741.70  59746.05  59723.25  59728.80  59767.452381
2025-11-28 15:20:00  59735.55  59769.95  59731.55  59762.35  59765.230952
2025-11-28 15:25:00  59761.80  59776.95  59722.80  59730.30  59762.623810

[72554 rows x 5 columns]

In [10]:
nse_syms = pd.read_json(r"C:\Users\A\Desktop\algo_project\NSE_MIS.json\NSE_MIS.json")

In [11]:
nse_syms.head()

,segment,name,exchange,isin,instrument_type,instrument_key,lot_size,freeze_quantity,exchange_token,tick_size,trading_symbol,short_name,qty_multiplier,security_type,intraday_margin,intraday_leverage
0,NSE_EQ,SMS PHARMACEUTICALS LTD.,NSE,INE812G01025,EQ,NSE_EQ|INE812G01025,1,100000,14329,5,SMSPHARMA,SMS Pharmaceuticals,1,NORMAL,20.0,5
1,NSE_EQ,IGARASHI MOTORS INDIA LTD,NSE,INE188B01013,EQ,NSE_EQ|INE188B01013,1,100000,634,5,IGARASHI,Igarashi Motors India,1,NORMAL,20.0,5
2,NSE_EQ,BEST AGROLIFE LIMITED,NSE,INE052T01013,EQ,NSE_EQ|INE052T01013,1,100000,2306,5,BESTAGRO,Best Agrolife,1,NORMAL,20.0,5
3,NSE_EQ,BIGBLOC CONSTRUCTION LTD,NSE,INE412U01025,EQ,NSE_EQ|INE412U01025,1,100000,18431,1,BIGBLOC,Bigbloc Construction,1,NORMAL,20.0,5
4,NSE_EQ,ROSSELL TECHSYS LIMITED,NSE,INE0OJW01016,EQ,NSE_EQ|INE0OJW01016,1,100000,27353,5,ROSSTECH,NaN,1,NORMAL,20.0,5

In [12]:
nse_syms.to_csv("nse_symbols_MIS.csv", index=False)